 ../Appclick/
        ../Bootstrap/
        ../Excel.lnk
        ../Figma Tutorial for UI Design - Course for Beginners.mp4
        ../Get Response Clone.html
        ../Get Response Clone_files/
        ../Grad_FinancialAffidavitResponsibility_2023-24_1.pdf
        ./
        ../Microsoft Teams.lnk
        ../Oasis montaj Viewer.lnk
        ../PowerPoint.lnk
        ../RADPROfWin.lnk
        ../WinResist_2.exe
        ../Word.lnk
        ../Zoom Workplace.lnk
        ../desktop.ini
        ../flower/appclick/
        ../flower/odin-project/
        ../odin-recipes/
        ../presentation ppt.pptx
        ../test (2).gpf
        ../test.gpf
        ../vWinResist_2.exe
        ../~$ELEKE AYOOLUWA VES  REPORT.DAT.docx
        ../~$GERIA JOB CV.docx
        ../~$LU PROJECT.docx
        ../~$OBO FIELD WORK AYO.docx
        ../~$OBO FIELD WORK REPORT..docx
        ../~$WAL SOFIYYAT'S REPORT.docx
        ../~$ado Gabriel ves report.docx
        ../~$omise assignment.docx
        ../~$presentation ppt.pptx
        ../~WRL0628.tmp
        ../~WRL0781.tmp
        ../~WRL3422.tmp
        ../~WRL3687.tmp
         ../Appclick/
        ../Bootstrap/
        ../Excel.lnk
        ../Figma Tutorial for UI Design - Course for Beginners.mp4
        ../Get Response Clone.html
        ../Get Response Clone_files/
        ../Grad_FinancialAffidavitResponsibility_2023-24_1.pdf
        ./
        ../Microsoft Teams.lnk
        ../Oasis montaj Viewer.lnk
        ../PowerPoint.lnk
        ../RADPROfWin.lnk
        ../WinResist_2.exe
        ../Word.lnk
        ../Zoom Workplace.lnk
        ../desktop.ini
        ../flower/appclick/
        ../flower/odin-project/
        ../odin-recipes/
        ../presentation ppt.pptx
        ../test (2).gpf
        ../test.gpf
        ../vWinResist_2.exe
        ../~$ELEKE AYOOLUWA VES  REPORT.DAT.docx
        ../~$GERIA JOB CV.docx
        ../~$LU PROJECT.docx
        ../~$OBO FIELD WORK AYO.docx
        ../~$OBO FIELD WORK REPORT..docx
        ../~$WAL SOFIYYAT'S REPORT.docx
        ../~$ado Gabriel ves report.docx
        ../~$omise assignment.docx
        ../~$presentation ppt.pptx
        ../~WRL0628.tmp
        ../~WRL0781.tmp
        ../~WRL3422.tmp
        ../~WRL3687.tmp